extends layout

block content

	div.new-form-div
		div.message-title 
			h1 Sign Up
		form.form-style(action="/new" method="POST")
			input.form-item(type="text" name="first_name"
			placeholder="First Name" required)
			input.form-item(type="text" name="last_name"
			placeholder="Family Name" required)
			input.form-item(type="text" name="username"
			placeholder="Username" required)
			input.form-item(type="text" name="password"
			placeholder="Password" required)
			button.form-item.form-button(type="submit") Submit